<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>Users:</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="person: ${persons}">
        <td th:text="${person.id}"></td>
        <td><a th:href="@{/persons/{id}(id=${person.id})}" th:text="${person.name}"></a></td>
        <td th:text="${person.email}"></td>
        <td>
            <form th:action="@{/persons/update/{id}(id=${person.id})}" method="get">
                <button class="update_btn" type="submit">Update</button>
            </form>
        </td>
        <td>
            <form th:action="@{/persons/delete/{id}(id=${person.id})}" method="get">
                <button class="delete_btn" type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<form th:action="@{/persons/add}" method="get" >
    <button class="add_btn" type="submit">Add</button>
</form>
</body>
</html>